<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <record id="view_cenit_twilio_settings" model="ir.ui.view">
            <field name="name">Twilio API settings</field>
            <field name="model">cenit.twilio.settings</field>
            <field name="arch" type="xml">
                <form string="Configure Twilio API" class="oe_form_configuration">
                    <header>
                        <button string="Apply" type="object"
                                name="execute" class="oe_highlight"/>
                        or
                        <button string="Cancel" type="object"
                                name="cancel" class="oe_link"/>
                    </header>
                    <div>
                        <group string="Twilio API settings">
                            <field name="account_sid" placeholder="Your Twilio's Account SID" />
                            <field name="auth_token" placeholder="Your Twilio's authentication token" />
                        </group>
                    </div>
                </form>
            </field>
        </record>

        <record id="action_cenit_twilio_settings" model="ir.actions.act_window">
            <field name="name">Twilio API settings</field>
            <field name="res_model">cenit.twilio.settings</field>
            <field name="view_mode">form</field>
            <field name="target">inline</field>
            <field name="view_id" ref="view_cenit_twilio_settings"/>
        </record>

        <menuitem id="menu_cenit_twilio_settings"
            parent="cenit_base.menu_cenit_integrations_settings"
            sequence="1" action="action_cenit_twilio_settings"/>

        <menuitem id="menu_cenit_twilio_settings_alt"
            parent="cenit_base.menu_cenit_integrations_settings_alt"
            sequence="1" action="action_cenit_twilio_settings"/>


        <record id="wizard_cenit_twilio_install" model="ir.ui.view">
            <field name="name">Twilio Integration settings</field>
            <field name="model">cenit.twilio.settings</field>
            <field name="inherit_id" ref="base.res_config_installer" />
            <field name="arch" type="xml">
                <form position="attributes">
                    <attribute name="string">Twilio Integration settings</attribute>
                </form>
                <footer position="replace">
                    <footer>
                        <button string="Apply" type="object" name="execute"
                                class="oe_highlight" context="{'install': True}"/>
                    </footer>
                </footer>
                <separator string="title" position="replace">
                    <p class="oe_grey">
                        Set the credentials of your Twilio account.
                    </p>
                    <group>
                        <field name="account_sid" placeholder="Your Twilio's Account SID" />
                        <field name="auth_token" placeholder="Your Twilio's authentication token" />
                    </group>
                </separator>
            </field>
        </record>

        <record id="action_wizard_cenit_twilio_install" model="ir.actions.act_window">
            <field name="name">Configure Twilio data</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">cenit.twilio.settings</field>
            <field name="view_id" ref="wizard_cenit_twilio_install" />
            <field name="view_type">form</field>
            <field name="view_mode">form</field>
            <field name="target">new</field>
        </record>

        <record id="todo_wizard_cenit_twilio_install" model="ir.actions.todo">
            <field name="action_id" ref="action_wizard_cenit_twilio_install"/>
            <field name="sequence">1</field>
            <field name="type">automatic</field>
        </record>

    </data>
</openerp>
