<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <record id="view_cenit_twilio_settings" model="ir.ui.view">
            <field name="name">Twilio API Integration settings</field>
            <field name="model">cenit.twilio.settings</field>
            <field name="arch" type="xml">
                <form string="Configure Twilio API Integration" class="oe_form_configuration">
                    <header>
                        <button string="Apply" type="object"
                                name="execute" class="oe_highlight"/>
                        or
                        <button string="Cancel" type="object"
                                name="cancel" class="oe_link"/>
                    </header>
                    <div>
                        <group string="Twilio API Integration settings">
                            <field name='account_sid' placeholder='Your Account SID' />
                            <field name='auth_token' placeholder='Your Auth Token' />
                        </group>
                    </div>
                </form>
            </field>
        </record>

        <record id="action_cenit_twilio_settings" model="ir.actions.act_window">
            <field name="name">Twilio API Integration settings</field>
            <field name="res_model">cenit.twilio.settings</field>
            <field name="view_mode">form</field>
            <field name="target">inline</field>
            <field name="view_id" ref="view_cenit_twilio_settings"/>
        </record>

        <menuitem id="menu_cenit_twilio_settings"
            parent="cenit_base.menu_cenit_integrations_settings"
            sequence="1" action="action_cenit_twilio_settings"/>

        <menuitem id="menu_cenit_twilio_settings_alt"
            parent="cenit_base.menu_cenit_integrations_settings_alt"
            sequence="1" action="action_cenit_twilio_settings"/>

    </data>
</openerp>
