<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <record id="view_cenit_trello_1_0_settings" model="ir.ui.view">
            <field name="name">This document describes the REST API of Trello as published by Trello.com.
 - &lt;a href&#x3D;&#x27;https://trello.com/docs/index.html&#x27; target&#x3D;&#x27;_blank&#x27;&gt;Official Documentation&lt;/a&gt;
 - &lt;a href&#x3D;&#x27;https://trello.com/docs/api&#x27; target&#x3D;&#x27;_blank&#x27;&gt;The HTML pages that were scraped in order to generate this specification.&lt;/a&gt; settings</field>
            <field name="model">cenit.trello_1_0.settings</field>
            <field name="arch" type="xml">
                <form string="Configure This document describes the REST API of Trello as published by Trello.com.
 - &lt;a href&#x3D;&#x27;https://trello.com/docs/index.html&#x27; target&#x3D;&#x27;_blank&#x27;&gt;Official Documentation&lt;/a&gt;
 - &lt;a href&#x3D;&#x27;https://trello.com/docs/api&#x27; target&#x3D;&#x27;_blank&#x27;&gt;The HTML pages that were scraped in order to generate this specification.&lt;/a&gt;" class="oe_form_configuration">
                    <header>
                        <button string="Apply" type="object"
                                name="execute" class="oe_highlight"/>
                        or
                        <button string="Cancel" type="object"
                                name="cancel" class="oe_link"/>
                    </header>
                    <div>
                        <group string="This document describes the REST API of Trello as published by Trello.com.
 - &lt;a href&#x3D;&#x27;https://trello.com/docs/index.html&#x27; target&#x3D;&#x27;_blank&#x27;&gt;Official Documentation&lt;/a&gt;
 - &lt;a href&#x3D;&#x27;https://trello.com/docs/api&#x27; target&#x3D;&#x27;_blank&#x27;&gt;The HTML pages that were scraped in order to generate this specification.&lt;/a&gt; settings">
                            <field name='api_key' placeholder='Your API Key' />
                        </group>
                    </div>
                </form>
            </field>
        </record>

        <record id="action_cenit_trello_1_0_settings" model="ir.actions.act_window">
            <field name="name">This document describes the REST API of Trello as published by Trello.com.
 - &lt;a href&#x3D;&#x27;https://trello.com/docs/index.html&#x27; target&#x3D;&#x27;_blank&#x27;&gt;Official Documentation&lt;/a&gt;
 - &lt;a href&#x3D;&#x27;https://trello.com/docs/api&#x27; target&#x3D;&#x27;_blank&#x27;&gt;The HTML pages that were scraped in order to generate this specification.&lt;/a&gt; settings</field>
            <field name="res_model">cenit.trello_1_0.settings</field>
            <field name="view_mode">form</field>
            <field name="target">inline</field>
            <field name="view_id" ref="view_cenit_trello_1_0_settings"/>
        </record>

        <menuitem id="menu_cenit_trello_1_0_settings"
            parent="cenit_base.menu_cenit_integrations_settings"
            sequence="1" action="action_cenit_trello_1_0_settings"/>

        <menuitem id="menu_cenit_trello_1_0_settings_alt"
            parent="cenit_base.menu_cenit_integrations_settings_alt"
            sequence="1" action="action_cenit_trello_1_0_settings"/>

    </data>
</openerp>
