<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <record id="view_cenit_brand_lovers_marketplace_api_v1_1_0_0_settings" model="ir.ui.view">
            <field name="name">Allows sellers to: 1) Load products definitions to the BrandLovers marktplace. 2) Receive and update orders status. 3) Receive and update shipping information. 4) Receive and update customer tickets. All requests consume and return application/json content. All request must be authenticated and use HTTPS. settings</field>
            <field name="model">cenit.brand_lovers_marketplace_api_v1_1_0_0.settings</field>
            <field name="arch" type="xml">
                <form string="Configure Allows sellers to: 1) Load products definitions to the BrandLovers marktplace. 2) Receive and update orders status. 3) Receive and update shipping information. 4) Receive and update customer tickets. All requests consume and return application/json content. All request must be authenticated and use HTTPS." class="oe_form_configuration">
                    <header>
                        <button string="Apply" type="object"
                                name="execute" class="oe_highlight"/>
                        or
                        <button string="Cancel" type="object"
                                name="cancel" class="oe_link"/>
                    </header>
                    <div>
                        <group string="Allows sellers to: 1) Load products definitions to the BrandLovers marktplace. 2) Receive and update orders status. 3) Receive and update shipping information. 4) Receive and update customer tickets. All requests consume and return application/json content. All request must be authenticated and use HTTPS. settings">
                            <field name='api_key' placeholder='Your API Key' />
                        </group>
                    </div>
                </form>
            </field>
        </record>

        <record id="action_cenit_brand_lovers_marketplace_api_v1_1_0_0_settings" model="ir.actions.act_window">
            <field name="name">Allows sellers to: 1) Load products definitions to the BrandLovers marktplace. 2) Receive and update orders status. 3) Receive and update shipping information. 4) Receive and update customer tickets. All requests consume and return application/json content. All request must be authenticated and use HTTPS. settings</field>
            <field name="res_model">cenit.brand_lovers_marketplace_api_v1_1_0_0.settings</field>
            <field name="view_mode">form</field>
            <field name="target">inline</field>
            <field name="view_id" ref="view_cenit_brand_lovers_marketplace_api_v1_1_0_0_settings"/>
        </record>

        <menuitem id="menu_cenit_brand_lovers_marketplace_api_v1_1_0_0_settings"
            parent="cenit_base.menu_cenit_integrations_settings"
            sequence="1" action="action_cenit_brand_lovers_marketplace_api_v1_1_0_0_settings"/>

        <menuitem id="menu_cenit_brand_lovers_marketplace_api_v1_1_0_0_settings_alt"
            parent="cenit_base.menu_cenit_integrations_settings_alt"
            sequence="1" action="action_cenit_brand_lovers_marketplace_api_v1_1_0_0_settings"/>

    </data>
</openerp>
