<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <record id="view_cenit_statsocial_platform_1_0_0__settings" model="ir.ui.view">
            <field name="name">API Reference: &lt;br&gt;&lt;br&gt; The StatSocial API is organized around REST. Our API is designed to have predictable, resource-oriented URLs and to use HTTP response codes to indicate API errors. We use built-in HTTP features, like HTTP authentication and HTTP verbs, which can be understood by off-the-shelf HTTP clients, and we support cross-origin resource sharing to allow you to interact securely with our API from a client-side web application (remember that you should never expose your secret API key in any public website&#x27;s client-side code). JSON will be returned in all responses from the API, including errors (though if you&#x27;re using API bindings, we will convert the response to the appropriate language-specific object).&lt;br&gt;&lt;br&gt;Contact help@statsocial.com to obtain a test API key settings</field>
            <field name="model">cenit.statsocial_platform_1_0_0_.settings</field>
            <field name="arch" type="xml">
                <form string="Configure API Reference: &lt;br&gt;&lt;br&gt; The StatSocial API is organized around REST. Our API is designed to have predictable, resource-oriented URLs and to use HTTP response codes to indicate API errors. We use built-in HTTP features, like HTTP authentication and HTTP verbs, which can be understood by off-the-shelf HTTP clients, and we support cross-origin resource sharing to allow you to interact securely with our API from a client-side web application (remember that you should never expose your secret API key in any public website&#x27;s client-side code). JSON will be returned in all responses from the API, including errors (though if you&#x27;re using API bindings, we will convert the response to the appropriate language-specific object).&lt;br&gt;&lt;br&gt;Contact help@statsocial.com to obtain a test API key" class="oe_form_configuration">
                    <header>
                        <button string="Apply" type="object"
                                name="execute" class="oe_highlight"/>
                        or
                        <button string="Cancel" type="object"
                                name="cancel" class="oe_link"/>
                    </header>
                    <div>
                        <group string="API Reference: &lt;br&gt;&lt;br&gt; The StatSocial API is organized around REST. Our API is designed to have predictable, resource-oriented URLs and to use HTTP response codes to indicate API errors. We use built-in HTTP features, like HTTP authentication and HTTP verbs, which can be understood by off-the-shelf HTTP clients, and we support cross-origin resource sharing to allow you to interact securely with our API from a client-side web application (remember that you should never expose your secret API key in any public website&#x27;s client-side code). JSON will be returned in all responses from the API, including errors (though if you&#x27;re using API bindings, we will convert the response to the appropriate language-specific object).&lt;br&gt;&lt;br&gt;Contact help@statsocial.com to obtain a test API key settings">
                            <field name='api_key' placeholder='Your API Key' />
                        </group>
                    </div>
                </form>
            </field>
        </record>

        <record id="action_cenit_statsocial_platform_1_0_0__settings" model="ir.actions.act_window">
            <field name="name">API Reference: &lt;br&gt;&lt;br&gt; The StatSocial API is organized around REST. Our API is designed to have predictable, resource-oriented URLs and to use HTTP response codes to indicate API errors. We use built-in HTTP features, like HTTP authentication and HTTP verbs, which can be understood by off-the-shelf HTTP clients, and we support cross-origin resource sharing to allow you to interact securely with our API from a client-side web application (remember that you should never expose your secret API key in any public website&#x27;s client-side code). JSON will be returned in all responses from the API, including errors (though if you&#x27;re using API bindings, we will convert the response to the appropriate language-specific object).&lt;br&gt;&lt;br&gt;Contact help@statsocial.com to obtain a test API key settings</field>
            <field name="res_model">cenit.statsocial_platform_1_0_0_.settings</field>
            <field name="view_mode">form</field>
            <field name="target">inline</field>
            <field name="view_id" ref="view_cenit_statsocial_platform_1_0_0__settings"/>
        </record>

        <menuitem id="menu_cenit_statsocial_platform_1_0_0__settings"
            parent="cenit_base.menu_cenit_integrations_settings"
            sequence="1" action="action_cenit_statsocial_platform_1_0_0__settings"/>

        <menuitem id="menu_cenit_statsocial_platform_1_0_0__settings_alt"
            parent="cenit_base.menu_cenit_integrations_settings_alt"
            sequence="1" action="action_cenit_statsocial_platform_1_0_0__settings"/>

    </data>
</openerp>
