<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <record id="view_cenit_cambase_io_1_0_settings" model="ir.ui.view">
            <field name="name">Cambase.io is a project by Evercam.io in order to make it easier for software developers to have a reliable, up to date source of model hardware information available via a public API. settings</field>
            <field name="model">cenit.cambase_io_1_0.settings</field>
            <field name="arch" type="xml">
                <form string="Configure Cambase.io is a project by Evercam.io in order to make it easier for software developers to have a reliable, up to date source of model hardware information available via a public API." class="oe_form_configuration">
                    <header>
                        <button string="Apply" type="object"
                                name="execute" class="oe_highlight"/>
                        or
                        <button string="Cancel" type="object"
                                name="cancel" class="oe_link"/>
                    </header>
                    <div>
                        <group string="Cambase.io is a project by Evercam.io in order to make it easier for software developers to have a reliable, up to date source of model hardware information available via a public API. settings">
                        </group>
                    </div>
                </form>
            </field>
        </record>

        <record id="action_cenit_cambase_io_1_0_settings" model="ir.actions.act_window">
            <field name="name">Cambase.io is a project by Evercam.io in order to make it easier for software developers to have a reliable, up to date source of model hardware information available via a public API. settings</field>
            <field name="res_model">cenit.cambase_io_1_0.settings</field>
            <field name="view_mode">form</field>
            <field name="target">inline</field>
            <field name="view_id" ref="view_cenit_cambase_io_1_0_settings"/>
        </record>

        <menuitem id="menu_cenit_cambase_io_1_0_settings"
            parent="cenit_base.menu_cenit_integrations_settings"
            sequence="1" action="action_cenit_cambase_io_1_0_settings"/>

        <menuitem id="menu_cenit_cambase_io_1_0_settings_alt"
            parent="cenit_base.menu_cenit_integrations_settings_alt"
            sequence="1" action="action_cenit_cambase_io_1_0_settings"/>

    </data>
</openerp>
