<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <record id="view_cenit_neows_near_earth_object_web_service_1_0_settings" model="ir.ui.view">
            <field name="name">A web service for near earth objects. All the data is from the  &lt;a href&#x3D;&quot;http://neo.jpl.nasa.gov/&quot; target&#x3D;&quot;_blank&quot;&gt;NASA JPL Asteroid team&lt;/a&gt;. 

 

NeoWs is proud to power AsteroidTracker on &lt;a href&#x3D;&quot;https://itunes.apple.com/us/app/asteroid-tracker/id689684901?mt&#x3D;8&quot; target&#x3D;&quot;_blank&quot;&gt;iOS&lt;/a&gt; and &lt;a href&#x3D;&quot;https://play.google.com/store/apps/details?id&#x3D;com.vitruviussoftware.bunifish.asteroidtracker&amp;feature&quot; target&#x3D;&quot;_blank&quot;&gt;Android&lt;/a&gt; as well as related apps. 

 Get &lt;a href&#x3D;&quot;http://apps.getpebble.com/en_US/application/55bc4913d1690c372900000f&quot; target&#x3D;&quot;_blank&quot;&gt;Asteroid Today on Pebble&lt;/a&gt; 

Follow us on &lt;a href&#x3D;&quot;http://n.numerousapp.com/m/289c3ktc8fi0&quot; target&#x3D;&quot;_blank&quot;&gt;Numerous&lt;/a&gt; 

Follow us on &lt;a href&#x3D;&quot;https://twitter.com/AsteroidTracker&quot; target&#x3D;&quot;_blank&quot;&gt;Twitter&lt;/a&gt; settings</field>
            <field name="model">cenit.neows_near_earth_object_web_service_1_0.settings</field>
            <field name="arch" type="xml">
                <form string="Configure A web service for near earth objects. All the data is from the  &lt;a href&#x3D;&quot;http://neo.jpl.nasa.gov/&quot; target&#x3D;&quot;_blank&quot;&gt;NASA JPL Asteroid team&lt;/a&gt;. 

 

NeoWs is proud to power AsteroidTracker on &lt;a href&#x3D;&quot;https://itunes.apple.com/us/app/asteroid-tracker/id689684901?mt&#x3D;8&quot; target&#x3D;&quot;_blank&quot;&gt;iOS&lt;/a&gt; and &lt;a href&#x3D;&quot;https://play.google.com/store/apps/details?id&#x3D;com.vitruviussoftware.bunifish.asteroidtracker&amp;feature&quot; target&#x3D;&quot;_blank&quot;&gt;Android&lt;/a&gt; as well as related apps. 

 Get &lt;a href&#x3D;&quot;http://apps.getpebble.com/en_US/application/55bc4913d1690c372900000f&quot; target&#x3D;&quot;_blank&quot;&gt;Asteroid Today on Pebble&lt;/a&gt; 

Follow us on &lt;a href&#x3D;&quot;http://n.numerousapp.com/m/289c3ktc8fi0&quot; target&#x3D;&quot;_blank&quot;&gt;Numerous&lt;/a&gt; 

Follow us on &lt;a href&#x3D;&quot;https://twitter.com/AsteroidTracker&quot; target&#x3D;&quot;_blank&quot;&gt;Twitter&lt;/a&gt;" class="oe_form_configuration">
                    <header>
                        <button string="Apply" type="object"
                                name="execute" class="oe_highlight"/>
                        or
                        <button string="Cancel" type="object"
                                name="cancel" class="oe_link"/>
                    </header>
                    <div>
                        <group string="A web service for near earth objects. All the data is from the  &lt;a href&#x3D;&quot;http://neo.jpl.nasa.gov/&quot; target&#x3D;&quot;_blank&quot;&gt;NASA JPL Asteroid team&lt;/a&gt;. 

 

NeoWs is proud to power AsteroidTracker on &lt;a href&#x3D;&quot;https://itunes.apple.com/us/app/asteroid-tracker/id689684901?mt&#x3D;8&quot; target&#x3D;&quot;_blank&quot;&gt;iOS&lt;/a&gt; and &lt;a href&#x3D;&quot;https://play.google.com/store/apps/details?id&#x3D;com.vitruviussoftware.bunifish.asteroidtracker&amp;feature&quot; target&#x3D;&quot;_blank&quot;&gt;Android&lt;/a&gt; as well as related apps. 

 Get &lt;a href&#x3D;&quot;http://apps.getpebble.com/en_US/application/55bc4913d1690c372900000f&quot; target&#x3D;&quot;_blank&quot;&gt;Asteroid Today on Pebble&lt;/a&gt; 

Follow us on &lt;a href&#x3D;&quot;http://n.numerousapp.com/m/289c3ktc8fi0&quot; target&#x3D;&quot;_blank&quot;&gt;Numerous&lt;/a&gt; 

Follow us on &lt;a href&#x3D;&quot;https://twitter.com/AsteroidTracker&quot; target&#x3D;&quot;_blank&quot;&gt;Twitter&lt;/a&gt; settings">
                        </group>
                    </div>
                </form>
            </field>
        </record>

        <record id="action_cenit_neows_near_earth_object_web_service_1_0_settings" model="ir.actions.act_window">
            <field name="name">A web service for near earth objects. All the data is from the  &lt;a href&#x3D;&quot;http://neo.jpl.nasa.gov/&quot; target&#x3D;&quot;_blank&quot;&gt;NASA JPL Asteroid team&lt;/a&gt;. 

 

NeoWs is proud to power AsteroidTracker on &lt;a href&#x3D;&quot;https://itunes.apple.com/us/app/asteroid-tracker/id689684901?mt&#x3D;8&quot; target&#x3D;&quot;_blank&quot;&gt;iOS&lt;/a&gt; and &lt;a href&#x3D;&quot;https://play.google.com/store/apps/details?id&#x3D;com.vitruviussoftware.bunifish.asteroidtracker&amp;feature&quot; target&#x3D;&quot;_blank&quot;&gt;Android&lt;/a&gt; as well as related apps. 

 Get &lt;a href&#x3D;&quot;http://apps.getpebble.com/en_US/application/55bc4913d1690c372900000f&quot; target&#x3D;&quot;_blank&quot;&gt;Asteroid Today on Pebble&lt;/a&gt; 

Follow us on &lt;a href&#x3D;&quot;http://n.numerousapp.com/m/289c3ktc8fi0&quot; target&#x3D;&quot;_blank&quot;&gt;Numerous&lt;/a&gt; 

Follow us on &lt;a href&#x3D;&quot;https://twitter.com/AsteroidTracker&quot; target&#x3D;&quot;_blank&quot;&gt;Twitter&lt;/a&gt; settings</field>
            <field name="res_model">cenit.neows_near_earth_object_web_service_1_0.settings</field>
            <field name="view_mode">form</field>
            <field name="target">inline</field>
            <field name="view_id" ref="view_cenit_neows_near_earth_object_web_service_1_0_settings"/>
        </record>

        <menuitem id="menu_cenit_neows_near_earth_object_web_service_1_0_settings"
            parent="cenit_base.menu_cenit_integrations_settings"
            sequence="1" action="action_cenit_neows_near_earth_object_web_service_1_0_settings"/>

        <menuitem id="menu_cenit_neows_near_earth_object_web_service_1_0_settings_alt"
            parent="cenit_base.menu_cenit_integrations_settings_alt"
            sequence="1" action="action_cenit_neows_near_earth_object_web_service_1_0_settings"/>

    </data>
</openerp>
