<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <record id="view_cenit_solar_vps_api_1_0_0_settings" model="ir.ui.view">
            <field name="name">This is the Solar VPS Public API. You can find more at http://www.solarvps.com settings</field>
            <field name="model">cenit.solar_vps_api_1_0_0.settings</field>
            <field name="arch" type="xml">
                <form string="Configure This is the Solar VPS Public API. You can find more at http://www.solarvps.com" class="oe_form_configuration">
                    <header>
                        <button string="Apply" type="object"
                                name="execute" class="oe_highlight"/>
                        or
                        <button string="Cancel" type="object"
                                name="cancel" class="oe_link"/>
                    </header>
                    <div>
                        <group string="This is the Solar VPS Public API. You can find more at http://www.solarvps.com settings">
                            <field name='api_key' placeholder='Your API Key' />
                        </group>
                    </div>
                </form>
            </field>
        </record>

        <record id="action_cenit_solar_vps_api_1_0_0_settings" model="ir.actions.act_window">
            <field name="name">This is the Solar VPS Public API. You can find more at http://www.solarvps.com settings</field>
            <field name="res_model">cenit.solar_vps_api_1_0_0.settings</field>
            <field name="view_mode">form</field>
            <field name="target">inline</field>
            <field name="view_id" ref="view_cenit_solar_vps_api_1_0_0_settings"/>
        </record>

        <menuitem id="menu_cenit_solar_vps_api_1_0_0_settings"
            parent="cenit_base.menu_cenit_integrations_settings"
            sequence="1" action="action_cenit_solar_vps_api_1_0_0_settings"/>

        <menuitem id="menu_cenit_solar_vps_api_1_0_0_settings_alt"
            parent="cenit_base.menu_cenit_integrations_settings_alt"
            sequence="1" action="action_cenit_solar_vps_api_1_0_0_settings"/>

    </data>
</openerp>
