<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <record id="view_cenit_doubleclick_bid_manager_v1_settings" model="ir.ui.view">
            <field name="name">API for viewing and managing your reports in DoubleClick Bid Manager. settings</field>
            <field name="model">cenit.doubleclick_bid_manager_v1.settings</field>
            <field name="arch" type="xml">
                <form string="Configure API for viewing and managing your reports in DoubleClick Bid Manager." class="oe_form_configuration">
                    <header>
                        <button string="Apply" type="object"
                                name="execute" class="oe_highlight"/>
                        or
                        <button string="Cancel" type="object"
                                name="cancel" class="oe_link"/>
                    </header>
                    <div>
                        <group string="API for viewing and managing your reports in DoubleClick Bid Manager. settings">
                        </group>
                    </div>
                </form>
            </field>
        </record>

        <record id="action_cenit_doubleclick_bid_manager_v1_settings" model="ir.actions.act_window">
            <field name="name">API for viewing and managing your reports in DoubleClick Bid Manager. settings</field>
            <field name="res_model">cenit.doubleclick_bid_manager_v1.settings</field>
            <field name="view_mode">form</field>
            <field name="target">inline</field>
            <field name="view_id" ref="view_cenit_doubleclick_bid_manager_v1_settings"/>
        </record>

        <menuitem id="menu_cenit_doubleclick_bid_manager_v1_settings"
            parent="cenit_base.menu_cenit_integrations_settings"
            sequence="1" action="action_cenit_doubleclick_bid_manager_v1_settings"/>

        <menuitem id="menu_cenit_doubleclick_bid_manager_v1_settings_alt"
            parent="cenit_base.menu_cenit_integrations_settings_alt"
            sequence="1" action="action_cenit_doubleclick_bid_manager_v1_settings"/>

    </data>
</openerp>
