<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <record id="view_cenit_mailsquad_api_0_9_settings" model="ir.ui.view">
            <field name="name">MailSquad offers an affordable and super easy way to create, send and track delightful emails. settings</field>
            <field name="model">cenit.mailsquad_api_0_9.settings</field>
            <field name="arch" type="xml">
                <form string="Configure MailSquad offers an affordable and super easy way to create, send and track delightful emails." class="oe_form_configuration">
                    <header>
                        <button string="Apply" type="object"
                                name="execute" class="oe_highlight"/>
                        or
                        <button string="Cancel" type="object"
                                name="cancel" class="oe_link"/>
                    </header>
                    <div>
                        <group string="MailSquad offers an affordable and super easy way to create, send and track delightful emails. settings">
                            <field name='api_key' placeholder='Your API Key' />
                        </group>
                    </div>
                </form>
            </field>
        </record>

        <record id="action_cenit_mailsquad_api_0_9_settings" model="ir.actions.act_window">
            <field name="name">MailSquad offers an affordable and super easy way to create, send and track delightful emails. settings</field>
            <field name="res_model">cenit.mailsquad_api_0_9.settings</field>
            <field name="view_mode">form</field>
            <field name="target">inline</field>
            <field name="view_id" ref="view_cenit_mailsquad_api_0_9_settings"/>
        </record>

        <menuitem id="menu_cenit_mailsquad_api_0_9_settings"
            parent="cenit_base.menu_cenit_integrations_settings"
            sequence="1" action="action_cenit_mailsquad_api_0_9_settings"/>

        <menuitem id="menu_cenit_mailsquad_api_0_9_settings_alt"
            parent="cenit_base.menu_cenit_integrations_settings_alt"
            sequence="1" action="action_cenit_mailsquad_api_0_9_settings"/>

    </data>
</openerp>
