<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <record id="view_cenit_apis_guru_2_0_settings" model="ir.ui.view">
            <field name="name">Wikipedia for Web APIs. Repository of API specs in OpenAPI(fka Swagger) 2.0 format.

**Warning**: If you want to be notified about changes in advance please subscribe to our [Gitter channel](https://gitter.im/APIs-guru/api-models).

Client sample: [[Demo]](https://apis.guru/simple-ui) [[Repo]](https://github.com/APIs-guru/simple-ui)
 settings</field>
            <field name="model">cenit.apis_guru_2_0.settings</field>
            <field name="arch" type="xml">
                <form string="Configure Wikipedia for Web APIs. Repository of API specs in OpenAPI(fka Swagger) 2.0 format.

**Warning**: If you want to be notified about changes in advance please subscribe to our [Gitter channel](https://gitter.im/APIs-guru/api-models).

Client sample: [[Demo]](https://apis.guru/simple-ui) [[Repo]](https://github.com/APIs-guru/simple-ui)
" class="oe_form_configuration">
                    <header>
                        <button string="Apply" type="object"
                                name="execute" class="oe_highlight"/>
                        or
                        <button string="Cancel" type="object"
                                name="cancel" class="oe_link"/>
                    </header>
                    <div>
                        <group string="Wikipedia for Web APIs. Repository of API specs in OpenAPI(fka Swagger) 2.0 format.

**Warning**: If you want to be notified about changes in advance please subscribe to our [Gitter channel](https://gitter.im/APIs-guru/api-models).

Client sample: [[Demo]](https://apis.guru/simple-ui) [[Repo]](https://github.com/APIs-guru/simple-ui)
 settings">
                        </group>
                    </div>
                </form>
            </field>
        </record>

        <record id="action_cenit_apis_guru_2_0_settings" model="ir.actions.act_window">
            <field name="name">Wikipedia for Web APIs. Repository of API specs in OpenAPI(fka Swagger) 2.0 format.

**Warning**: If you want to be notified about changes in advance please subscribe to our [Gitter channel](https://gitter.im/APIs-guru/api-models).

Client sample: [[Demo]](https://apis.guru/simple-ui) [[Repo]](https://github.com/APIs-guru/simple-ui)
 settings</field>
            <field name="res_model">cenit.apis_guru_2_0.settings</field>
            <field name="view_mode">form</field>
            <field name="target">inline</field>
            <field name="view_id" ref="view_cenit_apis_guru_2_0_settings"/>
        </record>

        <menuitem id="menu_cenit_apis_guru_2_0_settings"
            parent="cenit_base.menu_cenit_integrations_settings"
            sequence="1" action="action_cenit_apis_guru_2_0_settings"/>

        <menuitem id="menu_cenit_apis_guru_2_0_settings_alt"
            parent="cenit_base.menu_cenit_integrations_settings_alt"
            sequence="1" action="action_cenit_apis_guru_2_0_settings"/>

    </data>
</openerp>
